<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="EntityFramework.Commands" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="EntityFramework.Core" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="EntityFramework.Relational" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="EntityFramework.Relational.Design" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="EntityFramework.SqlServer" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="EntityFramework.SqlServer.Design" version="7.0.0-beta5-13012" targetFramework="net46" />
  <package id="Ix-Async" version="1.2.3" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Analyzers" version="1.0.0-rc2-20150423-02" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.Common" version="1.0.0-rc2-20150423-02" targetFramework="net46" />
  <package id="Microsoft.CodeAnalysis.CSharp" version="1.0.0-rc2-20150423-02" targetFramework="net46" />
  <package id="Microsoft.Framework.Caching.Interfaces" version="1.0.0-beta5-11261" targetFramework="net46" />
  <package id="Microsoft.Framework.Caching.Memory" version="1.0.0-beta5-11261" targetFramework="net46" />
  <package id="Microsoft.Framework.ConfigurationModel.Interfaces" version="1.0.0-beta5-11240" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection" version="1.0.0-beta5-11269" targetFramework="net46" />
  <package id="Microsoft.Framework.DependencyInjection.Interfaces" version="1.0.0-beta5-11269" targetFramework="net46" />
  <package id="Microsoft.Framework.Logging" version="1.0.0-beta5-11266" targetFramework="net46" />
  <package id="Microsoft.Framework.Logging.Interfaces" version="1.0.0-beta5-11266" targetFramework="net46" />
  <package id="Microsoft.Framework.OptionsModel" version="1.0.0-beta5-11243" targetFramework="net46" />
  <package id="Remotion.Linq" version="2.0.0-alpha-002" targetFramework="net46" />
  <package id="System.Collections.Immutable" version="1.1.34-rc" targetFramework="net46" />
  <package id="System.Reflection.Metadata" version="1.0.19-rc" targetFramework="net46" />
</packages>